
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>
 
 <!-- Vega-lite visualization libraries -->
    <script src="//d3js.org/d3.v3.min.js"></script>
  	<script src="//vega.github.io/vega/vega.js"></script>
  	<script src="//vega.github.io/vega-lite/vega-lite.js"></script>
  	<script src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>
   
  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="/about">About This Data Set</a></li>
            <li><a href="/quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>Personal data collection: How awareness of my activities and the study impact accountability.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Where did these data come from?</h2>
	<p>The usage data used for this analysis were collected from 30 Jan to 19 Feb using AWARE on my personal phone. Knowledge of my phone use
	patterns and activities make me think that the data collected are an accurate representation of my phone usage. I had my phone with me each day
	of this study, and the phone's battery was never completely dead, despite the necesity to charge it more through the study duration.</p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to these data?</h2>
	<p>Only I have access to the raw data, as my database is password protected.</p>
      </div>
      
      <div class="page-header">
	<h2>About the data analysis</h2>
	<p>I decided to ask a question about device usage in an attempt to ground my study in something against which I could measure it. When
	I first looked at my data, I found myself trying to use the data to fit activities that I thought I was engaging in. Without the use of 
	a metric against which to measure my data usage, I could interpret my data however I pleased. Earlier in the semester, we had read the 
	ProactiveTasks paper, and I was intrigued by the various patterns that were determined about people. I wanted to use the ProactiveTasks
	paper as a framework on which to base my own analysis.</p>
      </div>
      
     
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
