<!DOCTYPE html>
<html>
<head>
<title>Jordan Marks Byte 1</title>
</head>
<body>
<h1>Boulder Canyon Climbing Crags Byte 1</h1>
<p>When deciding where climb, climbers typically reference books that detail all the possible climbs in an area.
In areas with large numbers of climbs, it can prove difficult to decide on a climbing area, or crag.</p>
<p>Although these books contain significant information about the climbs, they include questional location
 references (such as "by the no camping sign"), making finding the climbs difficult.</p>
<p>Several factors must be taken into
consideration when selecting a crag: location, type of climbing, difficulty of climbing, and quality of climbing.</p>
<p>To help climbers make better decisions about where they should climb, I was interested in answering the following question:</p>
<h2>"How are different types of climbs geographically distributed in Boulder Canyon?"</h2>
<h3>Trad/Sport Classification</h3>
<p>Crags are classified on this map according to whether they have predominantly "traditional" or "sport" climbs.</p>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1%3E%3E0+from+1UHG-U3-LThozp44UMeSAk9icelxxr5NSG9KcYSn-&amp;viz=MAP&amp;h=false&amp;lat=39.99667238029348&amp;lng=-105.38343175659179&amp;t=1&amp;z=13&amp;l=col1%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
<h3>Difficulty of Climbs at Crag</h3>
<p>Crags are classified on this map according to the predominant grade, or difficulty, of the climb.</p>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1%3E%3E0+from+1fogC80x0DkuA174Ekq_aBF4FtELppz9npvWfqaiL&amp;viz=MAP&amp;h=false&amp;lat=39.997329910388316&amp;lng=-105.4028294921875&amp;t=1&amp;z=12&amp;l=col1%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
</body>
</html>