<!DOCTYPE html>
<html>
<head>
<title>Byte 1 Tutorial</title>
</head>
<body>
<h1>Data Pipeline Project Byte Example</h1>
<p>When deciding on where to go climbing, climbers typically reference a book that lists all the possible climbs. These climbs are not well
mapped, with questionable references as the starting points for finding climbing areas, or crags. Several factors have to be taken into
consideration when selecting a crag: location, type of climbing, difficulty of climbing, and quality of climbing.</p>
<p>The question I was interested in asking was "how can we help climbers make better decisions about where to climb?"</p>
<h2>Sorted by Trad/Sport Classification</h2>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1%3E%3E0+from+1UHG-U3-LThozp44UMeSAk9icelxxr5NSG9KcYSn-&amp;viz=MAP&amp;h=false&amp;lat=39.99667238029348&amp;lng=-105.38343175659179&amp;t=1&amp;z=13&amp;l=col1%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
<h2>Sorted by Difficulty of Climbs at Crag</h2>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1%3E%3E0+from+1fogC80x0DkuA174Ekq_aBF4FtELppz9npvWfqaiL&amp;viz=MAP&amp;h=false&amp;lat=39.997329910388316&amp;lng=-105.4028294921875&amp;t=1&amp;z=12&amp;l=col1%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
</body>
</html>